body,p{
	margin:0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blueviolet;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:gray;
}

h1{
    
    text-align: center;
    background-color: blueviolet;
    
}

*{
   margin: 0;
    padding: :0;
}