.break{
	clear:left;
}

.dish-container{
	padding:10px;
	background-color:white;	
    border-style: solid;
    border-color: black;
    width:450px;
    height:100px;
    
}


.meny-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: center;
    margin-left: 50px;
    padding: 20px;
}
.dish-name{	
	float:left;
	width:80%;
	font-size:30px;
	margin:0px;
}

.chili{
	padding:10px 0px;
	float:right;	
}

.dish-desc{
	width:80%;	
	word-wrap:break-word;
	font-size:15px;
	float:left;
}

.dish-price{
	font-size:40px;
	float:right;
	width:20%;
}