.break{
	clear:left;
}

.dish-container,.drink-container{
	padding:10px;
	background-color:white;	
    border-style: solid;
    border-color: black;
    width:450px;
}

.dish-container{
    height:130px;        
}

.drink-container{
    height:90px;    
}

.dish-divider,.drink-divider{
    padding-left:100px;
    
}

.dish-img,.drink-img{
    position: absolute;
    float:left;
}

.meny-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    text-align: center;
    margin-left: 50px;
    padding: 20px;
}
.dish-name,.drink-name{	
	float:left;
	width:70%;
	font-size:30px;
	margin:0px;
}

.chili{
	padding:10px 0px;
	float:right;	
}

.stars{
	padding:10px 0px;
	display: flex;
    text-align: center;
    justify-content: center;
    	
}

.dish-desc,.drink-desc{
	width:80%;	
	word-wrap:break-word;
	font-size:15px;
	float:left;
}

.dish-price,.drink-price{
	font-size:40px;
	float:right;
	width:20%;
}